:root {
    --image-width: 500px;
    --breadcrumb-size: 20px;
}

body {
    font-family: Arial, serif;
}

/* === GALLERY START ===*/
.gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.gallery-item {
    width: var(--image-width);
    height: var(--image-width);
    transition: opacity 0.5s ease;
    opacity: 1;
}

.gallery-item.fade-out {
    opacity: 0;
}

/*=== GALLERY END ===*/
.arrow {
    position: absolute;
}

.arrow i {
    transform: scale(3);
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: calc((100vw - 500px) / 3);
}

.arrow-right {
    right: calc((100vw - 500px) / 3);
}

.de-active {
    color: gray;
}

/*=== BREADCRUMB START ===*/

.breadcrumb-wrapper {
    position: absolute;
    width: var(--image-width);
    bottom: 157px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.breadcrumb {
    display: block;
    width: var(--breadcrumb-size);
    height: var(--breadcrumb-size);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid antiquewhite;
}

/*=== BREADCRUMB END ===*/
